body {
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #000;
    height: 60vh;
}
td {
    width: 20%;
    border: 2px solid #000;
    padding: 10px;
    vertical-align: top;
}
td:last-child {
    border-right: none;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #000;
}

p{
    font-size: small;
    text-align: justify;
    line-height: 2;
}

h2{
    font-size: large;
}

